
#about-why-me {
    border-bottom: 1px solid darkgrey;

    .left {
        img {
            width: 100%;
            object-fit: contain;
            height: 500px;
        }
    }

    .about-why-me-text {
        span {
            font-family: cursive;
            font-weight: 600;
            color: #FF7004;
            font-size: 2rem;
        }

        p {
            font-size: 1rem;
            margin-top: 0;
            margin-bottom: 1rem;
            color: darkgray;
            font-weight: 600;
        }

        .all {

            .box {
                text-align: center;

                h3 {
                    font-weight: 500;
                    font-size: 1.2rem;
                }
            }
        }
    }
}

#about-choose {
    background-color: #fff;
    padding: 2rem 0;

    .section-heading {
        text-align: center;

        h2 {
            color: #FF7004;
            font-weight: 700;
        }
    }

    .choose-card {
        display: flex;
        align-items: center;

        .choose-text {
            h4 {
                color: #007a58;

            }
        }

        .choose-icon {
            margin-right: 20px;

            i {
                position: relative;
                box-shadow: 0px 2px 9px 1px gray;
                color: #007a58;
                background-color: transparent;
                padding: 1rem;
                border-radius: 100%;
                font-size: 31px;
                margin: auto;
                transition: 0.6s ease-in-out;

                &:hover {
                    color: #fff;
                    background-color: #007a58;
                }
            }
        }
    }
}

#subscribe-about {
    width: 100%;
    background-attachment: fixed;
    position: relative;
    padding: 3rem 0;
    background-image: url(../photo/slider2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .news-form {
        z-index: 2;
        width: 100%;
        padding: 10px 20px;
        border-radius: 12px;
        background-color: #fff;

        button {
            float: right;
            background-color: #007a58;
            color: #fff;
            width: 180px;
            font-size: 14px;
            font-weight: 500;
            padding: 12px 0px;
            border-radius: 8px;
            text-align: center;
            border: 1px solid #007a58;
            transition: 0.4s ease-in-out;

            &:hover {
                background-color: #fff;
                color: #007a58;
                border: 1px solid #007a58;
            }
        }

        input {
            padding: 12px;
            width: 220px;
            border-radius: 10px;
            border: 1px solid transparent;
        }

        input:focus {
            outline: none;
            border-color: #119744;
            box-shadow: 0 0 8px #119744;
        }
    }

    .news-text {
        z-index: 3;

        h2 {
            font-size: 30px;
            color: #fff;
            margin-bottom: 5px;
        }

        p {
            font-weight: 600;
            color: #fff;
            font-size: 20px;
        }
    }
}