#blog-list {
    padding: 3rem 0;

    .blogCard {
        padding-bottom: 1.5rem;
        transition: 0.4s ease-in-out;
        border-radius: 10px;

        &:hover {
            transform: translateY(-10px);
        }

        .thumb {
            border-top-left-radius: 10px;
            overflow: hidden;
            position: relative;

            &:hover {
                img {
                    transform: scale(1.2);
                }
            }

            img {
                object-fit: cover;
                transition: 0.4s ease-in-out;
                width: 100%;
                height: 200px;
                object-fit: cover;
            }

            .badges {
                position: absolute;
                top: 4%;
                left: 4%;
                font-size: 14px;
                font-weight: 500;
                line-height: 24px;
                text-align: center;
                color: #fff;

                .time {
                    padding: 2px 10px;
                    border-radius: 3px;
                    display: block;
                    margin-bottom: 10px;
                    background-color: #ff7004;
                }
            }

            .badges1 {
                position: absolute;
                bottom: 4%;
                right: 4%;
                font-size: 14px;
                font-weight: 500;
                line-height: 24px;
                text-align: center;
                color: #fff;

                .category {
                    padding: 2px 10px;
                    border-radius: 3px;
                    display: block;
                    margin-bottom: 10px;
                    background-color: #007a58;
                }
            }
        }

        .content {
            border-bottom-right-radius: 10px;
            background-color: #F5F6F7;
            padding: 1rem;
            text-align: start;
            border-top: none !important;
            box-shadow: 0 0px 3px 0px #777;
            height: 192px;
            h4 {
                transition: 0.4s ease-in-out;
                color: #000;
                font-size: 1.1rem;
            }

            p {
                span {
                    color: #1f481a;
                    font-weight: 500;
                    font-size: 14px;
                }
            }

            a {
                font-weight: 600;
                color: #ff7004;
                border-bottom: 1px solid #ff7004;

                i {
                    font-size: 11px;
                }
            }
        }
    }

    .bottom-paginate {
        padding-top: 25px;
        border-top: 1px solid #007a58;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .pagination {
            align-items: center;
            justify-content: center;
            display: flex;
            padding-left: 0;
            list-style: none;
        }
        .page-item {
            a.active {
                background-color: #ff7004;
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                border-radius: 50%;
                font-weight: 400;
                border: none;
                padding: 0px;
                color: #fff;
                margin-left: 5px;
            }
        }
        .page-link {
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border-radius: 50%;
            font-weight: 400;
            border: none;
            padding: 0px;
            background: #007a58;
            color: #fff;
            margin-left: 5px;
        }

        .page-info {
            color: #007a58;
            font-weight: 600;
        }
    }

    .blog-widget {
        margin-bottom: 30px;
        margin-left: 5px;
        border-radius: 8px;
        padding: 18px 25px 25px;
        background: #F5F6F7;

        .blog-widget-title {
            padding-bottom: 16px;
            margin-bottom: 20px;
            position: relative;
            text-transform: capitalize;
            border-bottom: 2px solid #ff7004;

            &::after {
                position: absolute;
                content: "";
                bottom: -2px;
                left: 0px;
                width: 50px;
                height: 2px;
                background: #007a58;
                z-index: 232;
            }
        }
    }

    .blog-widget-feed {
        li {
            display: flex;
            margin-bottom: 25px;
            padding-bottom: 5px;
            border-bottom: 2px solid #007a58;
            align-items: unset;
            color: #000;
            transition: .4s ease-in-out;

            p {
                font-weight: 500;
                transition: .4s;

                &:hover {
                    color: #ff7004;
                }
            }

            h6 {
                a {
                    color: #007a58;

                    &:hover {
                        color: #000;
                    }
                }
            }
        }

        .blog-widget-media {
            img {
                border-radius: 10px;
                margin-right: 10px;
                width: 100px;
                height: 70px;
                object-fit: cover;
            }
        }
    }

    .blog-widget-category {
        li {
            margin-bottom: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid #007a58;

            a {
                font-weight: 500;
                transition: .4s;

                &:hover {
                    color: #007a58;
                }

                span {
                    font-size: 14px;
                    float: right;
                    width: 30px;
                    height: 30px;
                    line-height: 32px;
                    text-align: center;
                    border-radius: 50%;
                    color: #fff;
                    background: #007a58;
                }
            }
        }
    }

    .blog-widget-social {
        li {
            display: inline-block;
            margin: 2px;

            a {
                i {
                    padding: 10px;
                    font-size: 18px;
                    text-align: center;
                    border-radius: 3px;
                    color: #fff;
                    background: #007a58;
                }
            }
        }
    }
}

#deliveryinfoBlogList {
    background-color: #F5F6F7;
    padding: 2rem;
    background-image: url(../photo/tea-home-new-gray-211d0.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    .box {
        padding: 5px;

        i {
            font-size: 4rem;
            color: #007a58;
        }
    }

    .text {
        text-align: center;
    }
}