/*DeliveryInfo*/
#deliveryinfo {
    background-image: url(/photo/tea-home-new-gray-211d0.jpg);
    background-color: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 2rem;
    margin-top: -6px;

    .box {
        padding: 5px;

        .text {
            text-align: center;

            i {
                font-size: 4rem;
                color: #007a58;
            }

            p {
                color: #007a58;
                font-weight: 600;
            }
        }

    }

}

/*DeliveryInfo*/
#deliveryinfoBlog {
    background-color: #F5F6F7;
    padding: 2rem;
    background-image: url(../photo/tea-home-new-gray-211d0.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    .box {
        padding: 5px;

        i {
            font-size: 4rem;
            color: #007a58;
        }
    }

    .text {
        text-align: center;
    }
}