@media(min-width:321px)and(max-width:375px) {
    .slider {
        .image-slider {
            img {
                height: 75vh !important;
            }
        }
    }
}

@media(max-width:576px) {
    #footer {
        .footer-bottom {
            .footer-copytext {
                font-size: 16px !important;
            }
        }
    }

    #scrollUp {
        width: 40px !important;
        height: 40px !important;
        right: 7px !important;
        bottom: 48px !important;

        &::after {
            font-size: 25px !important;
        }
    }

    //Header//
    #mobile-header {

        button,
        a {
            margin: auto;
            text-align: center;
            font-size: 11px;

        }
    }

    #mobileUp {
        .left {
            .headerUp-info {
                align-items: baseline;
                font-size: 12px;
            }
        }

        .right {
            input {
                font-size: 13px !important;
            }
        }
    }

    .loadImg {

        .load-middle {

            img {
                width: 150px;
                min-height: 150px;
                border: 4px double #007a58;

            }
        }
    }

    #exampleModal .modal-content .modal-body .swiper-top .swiper-slide {
        height: 200px;

        img {
            height: 200px;
        }
    }

    #exampleModal .modal-content .modal-body .product-details-content .product-description {
        margin-top: 0;
        line-height: normal;
    }

    //List Section//
    #single-list {
        padding: 6rem 0;

        h1 {
            margin-bottom: 0px;
            font-size: 30px;
        }

        .breadcrumb {

            span,
            a {
                font-size: 1rem;
            }
        }
    }

    //Index Section//
    .slider {

        .slick-prev,
        .slick-next {
            &::after {
                margin-left: 0.25rem !important;
                font-size: 1.5rem !important;
            }
        }

        .slider-text {
            top: 30% !important;
            left: 50% !important;
            transform: translateX(-50%);
            text-align: center;

            p {
                margin: 10px 0 30px !important;
                line-height: 24px !important;
            }

            .span1 {
                &:after {
                    height: 16px !important;
                }
            }

            span {
                color: #fff;
                font-weight: 500;
                font-size: 1.8rem !important;
                line-height: 40px !important;
            }

            a {
                padding: 12px !important;
                line-height: 20px !important;
                font-size: 14px !important;
                border-radius: 10px !important;
            }
        }
    }

    #blog {
        .blogText {
            padding: 10px 0;

            p {
                font-size: 1rem;
            }
        }

        .blogBox {
            .thumb {
                img {
                    height: 200px !important;
                }
            }

            .content {
                h4 {
                    line-height: 1;
                    font-size: 20px;
                }

                p {
                    font-size: 14px;
                }

                a {
                    font-size: 14px;
                }
            }
        }
    }

    #duration {
        padding: 2rem 0;
    }

    .offeryou {
        .title {
            h2 {
                font-size: 2rem;
            }
        }

        .box {
            p {
                font-size: 1rem;
            }
        }
    }

    #newProduct {
        .product {

            .thumb {
                img {
                    height: 150px !important;
                }

                .badges {
                    font-size: 12px;

                    .new {
                        padding: 0px 5px;
                        margin-bottom: 5px;
                    }

                    .sale {
                        padding: 0px 5px;
                    }

                }

                .actions {
                    top: 5px;
                    right: 5px;

                    a {
                        width: 30px;
                        height: 30px;
                    }
                }

                .add-to-cart {
                    width: 70%;
                    height: 30px;
                    font-size: 12px;
                    bottom: 10px;
                    border: 1px solid #007a58;
                }
            }

            .content {
                padding: 5px !important;
                height: 80px !important;

                h5 {
                    margin: 0;

                    a {
                        font-size: 12px !important;

                    }
                }

                .price {
                    span {
                        font-size: 12px;
                    }
                }

            }
        }
    }

    #topProduct {
        padding: 2rem 0;


        .topProductCategory {
            margin: 1rem 0;

            h2 {
                font-size: 1.3rem;
                margin: 0;
            }

            ul {
                margin: 0;
                justify-content: center !important;

                li {
                    margin: 0;
                    padding: 10px 0;
                    text-align: center;
                    display: flex;

                    a {
                        width: max-content;
                        font-size: 11px;
                        margin: 6px;
                    }

                    i {
                        display: block;
                    }
                }
            }

        }

        .tab-content {

            .product {

                .thumb {
                    img {
                        height: 150px !important;
                    }

                    .badges {
                        font-size: 12px;

                        .new {
                            padding: 0px 5px;
                            margin-bottom: 5px;
                        }

                        .sale {
                            padding: 0px 5px;
                        }

                    }

                    .actions {
                        top: 5px;
                        right: 5px;

                        a {
                            width: 30px;
                            height: 30px;
                        }
                    }

                    .add-to-cart {
                        width: 70%;
                        height: 30px;
                        font-size: 12px;
                        bottom: 10px;
                        border: 1px solid #007a58;
                    }
                }

                .content {
                    padding: 5px !important;
                    height: 80px !important;

                    h5 {
                        margin: 0;

                        a {
                            font-size: 12px !important;

                        }
                    }

                    .price {
                        span {
                            font-size: 12px;
                        }
                    }

                }
            }
        }
    }

    //User Section//
    .user-form-part {
        .form-control {
            width: 100%;
            margin-bottom: 10px;
            height: 45px;
            padding: 0px 20px 2px;
            font-size: 14px;
        }

        .user-form-footer {
            margin-top: 10px;

            p {
                font-size: 14px;
            }
        }

        .user-form-remind {
            padding: 15px;

            p {
                font-size: 14px;
            }
        }

        .user-form-title {
            h2 {
                font-size: 20px;
                line-height: 24px;
            }

            p {
                font-size: 12px;
            }
        }
    }

    //Checkout Section
    #checkout-item {
        .single-content-info {
            padding: 10px 20px;
        }

        .checkout-order {

            a,
            table {
                font-size: 13px;
            }
        }

        .checkout-payment-method {
            .box {
                label {
                    font-size: 12px;
                }
            }
        }
    }

    //Blog Section//

    #blog-details {
        .blogCard {
            .thumb {
                img {
                    height: 200px !important;
                }
            }

            .content {
                h2 {
                    margin: 0 !important;
                    font-size: 1.3rem !important;
                }

                span,
                p,
                h6 {
                    font-size: 14px !important;
                }
            }
        }

        .blog-widget {
            .blog-widget-feed {
                li {

                    p,
                    h6 {
                        font-size: 14px !important;
                    }
                }

                .blog-widget-media {
                    img {
                        width: 90px !important;
                    }
                }
            }
        }

        .blog-widget-social {
            li {
                a {
                    i {
                        font-size: 15px !important;
                    }
                }
            }
        }
    }

    #deliveryinfoBlog {
        .box {
            i {
                font-size: 2.5rem !important;
            }

            h4 {
                font-size: 1rem !important;
            }

            p {
                font-size: 13px !important;
                font-weight: 400 !important;
            }
        }
    }

    #deliveryinfoBlogList {
        .box {
            i {
                font-size: 2.5rem !important;
            }

            h4 {
                font-size: 1rem !important;
            }

            p {
                font-size: 13px !important;
                font-weight: 400 !important;
            }
        }
    }

    #blog-list {
        .bottom-paginate {
            .page-link {
                width: 30px !important;
                height: 30px !important;
                line-height: 30px !important;
            }

            .page-info {
                font-size: 14px !important;
            }
        }

        .blog-widget-social {
            li {
                a {
                    i {
                        font-size: 12px !important;
                    }
                }
            }
        }
    }

    //Contact Section//
    #social-contact {
        padding: 3rem 0;

        .contact-card {
            padding: 40px 15px 60px;
            height: 220px;

            h4,
            p,
            a,
            span {
                font-size: 1rem;
                margin-bottom: 8px;
            }
        }
    }

    #deliveryinfoContact {
        .box {
            i {
                font-size: 2.5rem;
            }

            h4 {
                font-size: 1rem;
            }

            p {
                font-size: 13px;
            }
        }
    }

    #contact-message {
        padding: 2rem 0;

        .contact-map {
            padding: 15px;

            img {
                height: 300px;
            }
        }

        .contact-form {
            h4 {
                margin-bottom: 1rem;
                line-height: 1em;
                font-size: 1rem;
            }

            .form-input-group {
                margin-bottom: 10px;

                i {
                    font-size: 12px;
                }

                .form-control {
                    font-size: 12px;
                }
            }

            .form-btn {
                font-size: 12px;

            }

            textarea {
                height: 100px
            }
        }
    }

    #subscribe-contact {
        .news-text {
            z-index: 3;

            h2 {
                font-size: 20px;
                color: #fff;
                margin-bottom: 5px;
            }

            p {
                font-weight: 600;
                color: #fff;
                font-size: 12px;
            }
        }

        .news-form {
            button {
                margin-top: 10px;
                width: 100%;
                float: none;
            }

            input {
                font-size: 12px;
                width: 100%;
            }

        }

    }

    //About Section//

    #about-why-me {
        .left {
            img {
                height: 300px;
            }
        }

        .about-why-me-text {
            h1 {
                font-size: 1rem;
            }

            span {
                font-size: 1.5rem;
            }

            p {
                font-size: 12px;
            }

            .all {
                .box {
                    span {
                        font-size: 1.5rem;
                    }

                    h3 {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    #subscribe-about {
        .news-text {
            z-index: 3;

            h2 {
                font-size: 20px;
                color: #fff;
                margin-bottom: 5px;
            }

            p {
                font-weight: 600;
                color: #fff;
                font-size: 12px;
            }
        }

        .news-form {
            button {
                width: 100%;
                float: none;
            }

            input {
                margin-bottom: 10px;
                font-size: 12px;
                width: 100%;
            }

        }

    }

    #about-choose {
        padding: 1rem 0;

        .section-heading {
            margin-top: 1rem;

            h2 {
                font-size: 1.1rem;
            }
        }

        .choose-card {
            .choose-text {
                h4 {
                    font-size: 1rem;
                }

                p {
                    font-size: 12px;
                }
            }

            .choose-icon {
                i {
                    padding: 12px;
                    font-size: 24px;
                }
            }
        }
    }

    //Product//
    #product-category-area {
        .product {

            .thumb {
                img {
                    height: 150px !important;
                }

                .actions {
                    top: 5px !important;
                    right: 5px !important;

                    a {
                        width: 30px !important;
                        height: 30px !important;
                    }
                }

                .add-to-cart {
                    width: 70% !important;
                    height: 30px !important;
                    font-size: 12px !important;
                    bottom: 10px !important;
                    border: 1px solid #007a58 !important;
                }
            }

            .content {
                padding: 5px !important;
                height: 85px !important;

                h5 {
                    margin: 0;

                    a {
                        font-size: 12px !important;

                    }
                }

                .price {
                    span {
                        font-size: 12px;
                    }
                }

            }
        }

        .bottom-paginate {
            .page-link {
                width: 30px !important;
                height: 30px !important;
                line-height: 30px !important;
            }

            .page-info {
                font-size: 14px !important;
            }
        }
    }

    //Shop//

    .title-single-product {
        h2 {
            font-size: 18px;
        }
    }

    #product-details-area {
        padding: 2rem 0;

        .swiper-top {

            .slick-prev,
            .slick-next {
                &::after {
                    font-size: 35px;
                }
            }

            .swiper-slide {
                height: 200px;

                img {
                    height: 200px;
                    object-fit: cover;
                }
            }
        }

        .product-details-content {
            .product-description {
                margin-top: 0px;
            }
        }
    }

    .shop-category-area {
        padding: 2rem 0;

        .shop-bottom-area {
            padding: 0;

            .product {

                .thumb {
                    img {
                        height: 150px !important;
                    }

                    .badges {
                        font-size: 12px;

                        .new {
                            padding: 0px 5px;
                            margin-bottom: 5px;
                        }

                        .sale {
                            padding: 0px 5px;
                        }

                    }

                    .actions {
                        top: 5px;
                        right: 5px;

                        a {
                            width: 30px;
                            height: 30px;
                        }
                    }

                    .add-to-cart {
                        width: 70%;
                        height: 30px;
                        font-size: 12px;
                        bottom: 10px;
                        border: 1px solid #007a58;
                    }
                }

                .content {
                    padding: 5px !important;
                    height: 85px !important;

                    h5 {
                        margin: 0;

                        a {
                            font-size: 12px !important;

                        }
                    }

                    .price {
                        span {
                            font-size: 12px;
                        }
                    }

                }
            }
        }

        .bottom-paginate {
            .page-link {
                width: 30px;
                height: 30px;
                line-height: 30px;
            }

            .page-info {
                font-size: 12px;
            }
        }

        .shop-top-bar {

            .shop-select {
                width: 135px;

                .form-select {
                    font-size: 13px;

                }
            }

            p {
                font-size: 12px !important;
            }
        }
    }

    .likeProduct {
        .product {

            .thumb {
                img {
                    height: 150px !important;
                }

                .badges {
                    font-size: 12px;

                    .new {
                        padding: 0px 5px;
                        margin-bottom: 5px;
                    }

                    .sale {
                        padding: 0px 5px;
                    }

                }

                .actions {
                    top: 5px;
                    right: 5px;

                    a {
                        width: 30px;
                        height: 30px;
                    }
                }

                .add-to-cart {
                    width: 70%;
                    height: 30px;
                    font-size: 12px;
                    bottom: 10px;
                    border: 1px solid #007a58;
                }
            }

            .content {
                padding: 5px !important;
                height: 85px !important;

                h5 {
                    margin: 0;

                    a {
                        font-size: 12px !important;

                    }
                }

                .price {
                    span {
                        font-size: 12px;
                    }
                }

            }
        }
    }
}

@media (max-width: 992px) {
    #header {
        display: none;
    }

    #mobile-header {
        opacity: 1;
        visibility: visible;
    }

    #headerUp {
        display: none;
    }

    #mobile-header {
        display: block;
    }

    #mobileUp {
        display: block;
    }

    #scrollUp {
        width: 50px;
        height: 50px;
        right: 5px;
        bottom: 55px;

        &::after {
            font-size: 30px;
        }
    }

    .slider {


        .slider-text {
            left: 50% !important;

            p {
                font-size: 16px !important;
                font-weight: 500 !important;
            }
        }
    }

    #topProduct {
        .topProductCategory {
            ul {
                li {
                    a {
                        font-size: 13px;
                    }
                }
            }
        }

        .tab-content {
            .product {
                .thumb {
                    img {
                        height: 200px;
                    }

                    .badges {
                        span {
                            margin-bottom: 5px !important;
                        }
                    }
                }
            }
        }
    }

    .shop-category-area {
        .shop-top-bar {
            p {
                font-size: 14px;
            }
        }
    }

    #footer {
        .footer-bottom {
            .footer-copytext {
                font-size: 20px;
            }

            .footer-card {
                text-align: center;

                a {
                    img {
                        width: 40px;
                    }
                }
            }
        }
    }
}

@media(min-width:576px)and(max-width:992px) {
    .mobile-nav {
        img {
            display: inline-block;
            margin-top: 20px;
            width: 150px;
        }

        ul li a {
            font-size: 20px;
        }

        .product-widget-social a i{
            font-size: 25px;
        }
    }
}

@media (min-width: 768px) and(max-width:1260px) {
    #topProduct {
        .tab-content {
            .product {
                .thumb {
                    img {
                        height: 220px;
                    }
                }
            }
        }
    }
}