* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



a {
    color: #000;
    text-decoration: none;
}

ul {
    padding: 0;

    li {
        list-style: none;
    }
}

@import "_header";
@import "_footer";
@import "_user";
@import "_index";
@import "_about";
@import "_contact";
@import "_shop";
@import "_delivery-info";
@import "_error";
@import "_single-product";
@import "_product";
@import "_responsive";
@import "_wishlist";
@import "_blog-detail";
@import "_blog-list";